* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkcyan;
}

.mail {
  max-width: 600px;
  margin: 20px auto;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
}

.mail__label:not(:last-child) {
  display: flex; 
  flex-direction: row;
  padding-bottom: 10px;
}

.mail__label span {
  width: 40%;
}

.mail__input {
  width: 60%;
  height: 30px;
}

.mail__submit {
  display: block;
  background-color: burlywood;
  text-align: center;
  height: 30px;
  border-radius: 10px;
  border: none;
  width: 100%;
}

